//- extend base

//- block content 
//-     .container
//-         .row
//-             .col-lg-2
//-             .col-lg-8.p-3
//-                 h2.text-center.RESET-PASSWORD RESET PASSWORD
//-                 p.text-center Nhập email của bạn để khôi phục mật khẩu!
//-                 form(class="needs-validation form-signup" novalidate)
//-                     .form-group
//-                         label(for='exampleInputEmail1') Email khôi phục
//-                         input#name.form-control(type='text' aria-describedby='emailHelp' required )
//-                         .invalid-feedback
//-                             Please Email không hợp lệ
//-                     //- form(action="/resetAnnouce" method="GET")
//-                     //- button.mr-3.btn.btn-primary(type='submit') Reset mật khẩu!
//-                     a(href="/showAnnounce") Reset mật khẩu!
//-                     a(href="/login") Quay lại trang đăng nhập
//-             .col-lg-2 



//- block append script 
//-     script(src="/js/validateForm.mjs")
extend base

block content
  .container
    .row
      .col-lg-2
      .col-lg-8.p-3
        h2.text-center RESET PASSWORD
        p.text-center Nhập email của bạn để khôi phục mật khẩu!
        if error
          p.error= error
        if success
          p.success= success
        form(class="needs-validation forget-password-form" novalidate action="/forgot-password" method="POST")
          .form-group
            label(for='email') Email khôi phục
            input#email.form-control(type='text' aria-describedby='emailHelp' required)
            .invalid-feedback Please Email không hợp lệ
          button.mr-3.btn.btn-primary(type='submit') Reset mật khẩu
        a(href="/login") Quay lại trang đăng nhập
      .col-lg-2

block append script
  script(src="/js/validateForm.mjs")
